@tailwind base;
@tailwind components;
@tailwind utilities;

.colourful-background {
  background: linear-gradient(
    -45deg,
    #ee765220,
    #e73c7e20,
    #23a6d520,
    #23d5ab20
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
